:root {
  --black:#333333
}

.multi_select_box{
    width: 18000px;
    margin: 80 px auto;
}
.multi_select_box select{
    width: 18000px;
}
.multi_select_box button{
    background-color: blue !important;
    color: #fff !important;
    padding: 15px 25 px;
}

/*css for error message in password in register*/

  /*css for errror area*/
  /* The message box is shown when the user clicks on the password field */
  #message {
    display: none;
  }
  
  #message p {
    padding: 0px 5px;
    font-size: 11px;
    margin-bottom: 0px;
  }

  #message2 {
    display: none;
  }
  
  #message2 p {
    padding: 0px 5px;
    font-size: 11px;
    margin-bottom: 0px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -3px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -3px;
    content: "✖";
  }

#projectbutton
{
  font-size:1.5em;
  font-weight:bold;
}
  /* css for dark mode */
  html
  {
    scroll-behavior: smooth;
  }
#modalregister , #modallogin , #modalcontact
{
  z-index: 10000;
}
  #navcol-1
  {
    margin-right: 3vw;
  }
  .dark-mode
  {
    background-color: var(--black) !important;
  }
  
  .dark-mode .modal-content , .dark-mode .modal-content span
  {
    background-color: var(--black);
    color: #fff;
  }

  body
  {
    margin: 0;
    padding: 0;
  }
  

  /* css for faq section starts */
  
  .faqsection
{
  background-color: #4bafd6;
}
  .Accordion {

    padding-bottom: 60px;
  }
  .Accordion__tabs {
    max-width: 600px;
    list-style: none;
    padding:0px;
  }
  .Accordion__tab {
    width: 100%;
  }
  .Accordion__tab__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(248, 248, 248, 0.5);
    transition: 0.2s ease all;
    padding: 20px 10px;

    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
  }
  .Accordion__tab__headline:hover {
    background-color: #1681aa;
  }
  .Accordion__tab__headline > h4 {
    user-select: none;
    text-transform: uppercase;
    margin: 0;
  }
  .Accordion__tab__headline .icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
    position: relative;
  }
  .Accordion__tab__headline .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 6px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .Accordion__tab__headline .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    width: 2px;
    height: 10px;
    background: currentColor;
    transition: 0.2s ease all;
  }
  .Accordion__tab__content {
    overflow: hidden;
    padding: 0px 15px;
    box-sizing: border-box;
    height: 100%;
    max-height: 0;
    transition: 0.4s ease all;
  }
  .Accordion__tab--open .Accordion__tab__headline .icon::after {
    transform: scaleY(0);
  }
  /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .Accordion__tab__headline .icon::before
  {
    left:4px;
  }
  .Accordion__tab__headline .icon::after
  {
    left: 8px;
  }
}
/* css for faq ends */