.multi_select_box{
    width: 18000px;
    margin: 80 px auto;
}
.multi_select_box select{
    width: 18000px;
}
.multi_select_box button{
    background-color: blue !important;
    color: #fff !important;
    padding: 15px 25 px;
}

/*css for error message in password in register*/

  /*css for errror area*/
  /* The message box is shown when the user clicks on the password field */
  #message {
    display: none;
  }
  
  #message p {
    padding: 0px 5px;
    font-size: 11px;
    margin-bottom: 0px;
  }

  #message2 {
    display: none;
  }
  
  #message2 p {
    padding: 0px 5px;
    font-size: 11px;
    margin-bottom: 0px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -3px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -3px;
    content: "✖";
  }