.multi_select_box{
    width: 18000px;
    margin: 80 px auto;
}
.multi_select_box select{
    width: 18000px;
}
.multi_select_box button{
    background-color: blue !important;
    color: #fff !important;
    padding: 15px 25 px;
}

/*css for error message in password in register*/

  /*css for errror area*/
  /* The message box is shown when the user clicks on the password field */
  #message {
    display: none;
  }
  
  #message p {
    padding: 0px 5px;
    font-size: 11px;
    margin-bottom: 0px;
  }

  #message2 {
    display: none;
  }
  
  #message2 p {
    padding: 0px 5px;
    font-size: 11px;
    margin-bottom: 0px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -3px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -3px;
    content: "✖";
  }

#projectbutton
{
  font-size:1.5em;
  font-weight:bold;
  z-index:1000;
  position:absolute;
  bottom:15vh;
}
  /* css for dark mode */
  html
  {
    scroll-behavior: smooth;
  }
#modalregister , #modallogin , #modalcontact
{
  z-index: 10000;
}
  #navcol-1
  {
    margin-right: 3vw;
  }
  .dark-mode
  {
    background-color: black !important;
  }
  .dark-mode .bgblack
  {
    position: absolute;
    height: 188vh;
    width: 100vw;
    opacity: .5;
    z-index: 10;
    background-color: black;
  }
  .dark-mode .modal-content , .dark-mode .modal-content span
  {
    background-color: black;
    color: #fff;
  }

  .dark-mode #projectbutton
  {
    font-size:1.5em;
    font-weight:bold;
    z-index:1000;
    position:absolute;
    bottom:13vh;
  }
  @media screen and (max-width: 992px) {
    .dark-mode .bgblack
  {
    position: absolute;
    height: 260vh;
    width: 100vw;
    opacity: .5;
    background-color: black;
  }
  #projectbutton
  {
  font-size:1.5em;
  font-weight:bold;
  z-index:1000;
  position:absolute;
  bottom:-20vh;
  }
  .dark-mode #projectbutton
  {
    font-size:1.5em;
    font-weight:bold;
    z-index:1000;
    position:absolute;
    bottom:-20vh;
  }
  }